---
import ArticleCard from '../components/ArticleCard.astro';
const allPosts = await Astro.glob('../pages/posts/*.md'); // 全ての記事を取得。
const displayPosts = allPosts.filter((post) => !post.frontmatter.draft); //draft = 下書きじゃない記事を抽出。
---
<!-- Card Blog -->
<div class="pt-10 lg:pt-14 mx-auto">
<!-- Grid -->
    <section class="grid lg:grid-cols-2 lg:gap-y-16 gap-10">
        {
            displayPosts.map((post) => {
                const date = new Date(post.frontmatter.pubDate);
                // 年、月、日を取得
                const year = date.getFullYear();
                const month = String(date.getMonth() + 1).padStart(2, '0');  // 月は0から始まるため+1
                const day = String(date.getDate()).padStart(2, '0');
                const formattedPubDate = `${year}年${month}月${day}日`;
                return (
                    <ArticleCard 
                    postTitle={post.frontmatter.title}
                    postDate={formattedPubDate}
                    postDesc={post.frontmatter.description}
                    postUrl={post.url}
                    postImage={
                        post.frontmatter.heroImage === '' ? '/public/assets/dummy.jpg' : post.frontmatter.heroImage
                    }
                    />
                )
            })
        }
    </section>
<!-- End Grid -->
</div>
<!-- End Card Blog -->