---
import ArticleCard from '@components/ArticleCard.astro';
const { sortFunc } = Astro.props;
---
<!-- Card Blog -->
<div class="pt-10 lg:pt-14 mx-auto">
<!-- Grid -->
    <section class="grid lg:grid-cols-2 lg:gap-y-16 gap-10">
        {
            sortFunc.map((post) => {
                return (
                    <ArticleCard 
                    postTitle={post.frontmatter.title}
                    postDate={post.frontmatter.pubDate}
                    postFormatDate={post.frontmatter.pubDate}
                    postDesc={post.frontmatter.description}
                    postUrl={post.url}
                    postImage={post.frontmatter.heroImage}
                    />
                )
            })
        }
    </section>
    <!-- End Grid -->    
</div>
<!-- End Card Blog -->