---
import { BLOG_NAME, DESCRIPTION } from "../consts";
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const {title, desc} = Astro.props;
const { pathname } = Astro.url;
---
<!doctype html>
<html lang="ja" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content=`${desc}${DESCRIPTION}`>
		<title>{pathname === '/' ? BLOG_NAME : `${title} - ${BLOG_NAME}`}</title>
	</head>
	<body class="h-full m-0 flex flex-col">
		<Header />
			<main class="mx-auto w-full max-w-[80rem] py-12 px-6 lg:px-0">
				<slot />
			</main>
		<Footer />
	</body>
</html>
<script is:inline src="/node_modules/preline/preline.js"></script>