---
import { BLOG_NAME, DESCRIPTION } from "../consts";
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const {title, desc} = Astro.props;
const { pathname } = Astro.url;
---
<!doctype html>
<html lang="ja" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content=`${desc}${DESCRIPTION}`>
		<title>{pathname === '/' ? BLOG_NAME : `${title} - ${BLOG_NAME}`}</title>
		<script is:inline>
			// This code should be added to <head>.
			// It's used to prevent page load glitches.
			const html = document.querySelector('html');
			const isLightOrAuto = localStorage.getItem('hs_theme') === 'light' || (localStorage.getItem('hs_theme') === 'auto' && !window.matchMedia('(prefers-color-scheme: dark)').matches);
			const isDarkOrAuto = localStorage.getItem('hs_theme') === 'dark' || (localStorage.getItem('hs_theme') === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches);

			if (isLightOrAuto && html.classList.contains('dark')) html.classList.remove('dark');
			else if (isDarkOrAuto && html.classList.contains('light')) html.classList.remove('light');
			else if (isDarkOrAuto && !html.classList.contains('dark')) html.classList.add('dark');
			else if (isLightOrAuto && !html.classList.contains('light')) html.classList.add('light');
		</script>
	</head>
	<body class="h-full m-0 flex flex-col dark:bg-neutral-800">
		<Header />
			<main class="mx-auto w-full max-w-[80rem] pt-12 pb-24 px-6 lg:px-0">
				<slot />
			</main>
		<Footer />
	</body>
</html>
<script is:inline src="../../assets/js/preline.js"></script>