---
import { dispPubDate } from '@utils/util';
import Layout from '@layouts/Layout.astro';
import PageTitle from '@components/PageTitle.astro';
const { frontmatter } = Astro.props;
const tagArray = [...frontmatter.tags];
const formattedPubDate = dispPubDate(frontmatter.pubDate);
---
<Layout title={frontmatter.title} desc={frontmatter.description}>
<!-- Blog Article -->
<div class="w-full max-w-[63rem] mx-auto">
    <!-- Content -->
    <PageTitle title={frontmatter.title} textPosition="left" spacing="normal"/>
    <ul class="flex items-center gap-3 mt-4">
        {
            tagArray.map((tag) => {
                return(
                <li>
                    <a class="block py-1.5 px-3 rounded-md text-sm md:text-normal font-medium bg-gray-800 text-white dark:bg-white dark:text-neutral-800" href={`../tags/${tag}/1`}>
                        {
                            tag.charAt(0).toUpperCase() + tag.slice(1).toLowerCase()
                        }
                    </a>
                </li>
                )
            })
        }
    </ul>
    <p class="mt-4 dark:text-white"><time datetime={frontmatter.pubDate}>投稿日：{formattedPubDate}</time></p>
    <div class="space-y-12 md:space-y-16 pt-8 p-post-content">
        <figure><img src={frontmatter.heroImage === '' ? '/assets/img/general.jpg' : frontmatter.heroImage} alt="" class="mx-auto"></figure>
        <slot />
        <!-- End Content -->
    </div>
</div>
<!-- End Blog Article -->
</Layout>
<style is:inline>
    .p-post-content {
        h2,h3,h4,h5,h6{font-weight: 600;}
        @media (min-width: 768px) {
            h2{
                font-size: 1.875rem;
                
            }
            h3{
                font-size: 1.5rem;
            }
            h4{
                font-size: 1.25rem;
            }
            h5{
                font-size: 1.125rem;
            }
            h2 + *, h3 + *, h4 + *, h5 + *, h6 + *, * + pre{
                margin-top: 0.5rem !important;
            }
            p + p, pre + p{
                margin-top: 1.25rem !important;
            }
        }
        h2{
            font-size: 1.75rem;
            line-height: 2.25rem;
            
        }
        h3{
            font-size: 1.25rem;
            line-height: 2rem;
        }
        h4{
            font-size: 1.125rem;
            line-height: 1.75rem;
        }
        h5{
            font-size: 1em;
            line-height: 1.75rem;
        }
        pre {
            padding: .25rem;
        }
        ul, ol{list-style-position: inside;}
        ul{
            list-style-type: disc;
        }
        ol{
            list-style-type: decimal;
        }
        blockquote{
            p{
                font-size: 1.25rem;
                line-height: 1.75rem;
            }
        }
        img{
            margin: 0 auto;
        }
        a{
            --tw-text-opacity: 1;
            color: rgb(30 58 138 / var(--tw-text-opacity, 1));
            font-weight: 600;
            &:hover{
                text-decoration-line: underline;
                text-decoration-thickness: 2px;
            }
        }
    }
    .dark {
        .p-post-content *:not(a) {
            --tw-text-opacity: 1;
            color: rgb(255 255 255 / var(--tw-text-opacity, 1));
        }
        a{
            color: rgb(255, 255, 0);
        }
    }
</style>